@keyframes sidebarToNone {
    0% {
        display: flex;
        opacity: 1;
    }
    99% {
        display: flex;
        opacity: 0.1;
    }
    100% {
        display: none;
        opacity: 0;
    }
}
@keyframes sidebarFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: flex;
        opacity: 0;
    }

    100% {
        display: flex;
        opacity: 1;
    }
}
@keyframes bgFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: none;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 0.3;
    }
}
@keyframes bgToNone {
    0% {
        display: block;
        opacity: 0.3;
    }
    1% {
        display: block;
        opacity: 0.3;
    }
    100% {
        display: none;
        opacity: 0;
    }
}

.sidebar {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    position: absolute;
    width: 317px;
    min-height: 100vh;
    z-index: 10;
    padding: 16px;
    background-color: white;
    display: none;
    opacity: 0;
    animation: sidebarToNone 0.2s ease-in-out;
}

.sidebar.open {
    display: flex;
    opacity: 1;
    animation: sidebarFromNone 0.2s ease-in-out;
}

div > .background {
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin-left: 317px;
    background-color: rgb(0, 0, 0, 1);
    opacity: 0.3;
    z-index: 9;
    animation: bgFromNone 0.2s ease-in-out;
}

div > .background.sidebarNone {
    display: none;
    animation: bgToNone 0.2s ease-in-out;
}

.nav {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.nav a {
    font-family: Montserrat sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    margin-top: 30px;
    margin-left: 50px;
    text-decoration: none;
}

.nav a:hover {
    color: rgba(88, 172, 255, 1);
}
.nav a:active {
    color: rgba(61, 107, 153, 1);
}

.nav a.active {
    color: rgba(0, 89, 178, 1);
    text-decoration: underline;
}

.close {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close img {
    background-color: white;
}

.close img:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.close img:active {
    transform: scale(1.0);
}
