.sidebar {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    position: absolute;
    width: 317px;
    min-height: 100vh;
    z-index: 10;
    padding: 16px;
    background-color: white;
    display: none;
}

.sidebar.open {
    display: flex;
}

.background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 1);
    opacity: 30%;
    z-index: 9;
}

.nav {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.nav a {
    font-family: Montserrat sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    margin-top: 30px;
    margin-left: 50px;
    text-decoration: none;
}

.nav a:hover {
    color: rgba(88, 172, 255, 1);
}
.nav a:active {
    color: rgba(61, 107, 153, 1);
}

.nav a.active {
    color: rgba(0, 89, 178, 1);
    text-decoration: underline;
}

.close {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close img {
    background-color: white;
}

.close img:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.close img:active {
    transform: scale(1.0);
}
