.item {
    height: 48px;
    border-bottom: 2px solid rgb(208, 206, 206);;
}

/*.item>:nth-child(2) {*/
/*    font-weight: 600;*/
/*}*/

.item>:last-of-type {
    font-weight: 600;
}

.users {
    margin-top: 20px;
    width: 606px;
    border-collapse: collapse;
    font-family: Roboto sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0;
    text-align: left;

}

.buttonsContainer {
    display: flex;
    gap: 10px
}

.container {
}

.thead {
    width: 100%;
    height: 36px;
    background: rgba(229, 229, 229, 1);
    font-weight: 600;
}

.nameCol {
    width: 240px;
    padding-left: 11px;
}

.ageCol {
    font-weight: 600;
}